langchain
langchain_community
huggingface_hub
langchain_pinecone
sentence-transformers
python-dotenv
pypdf
transformers
langchain_huggingface
streamlit
bs4
pypdf
chromadb
faiss-cpu
langchain_pinecone
wikipedia
duckduckgo-search
groq
langchain-groq
requests
langchain-cohere
guardrails-ai
